.carousel-container{
  width: 100%;
  .carousel {
    margin: 0 0;
    overflow: hidden;
    max-width: 100%;
    max-height: 900px;
    position: relative;
  }
  
  .carousel-inner {
    white-space: nowrap;
    transition: ease 1s;
  }
  
  .carousel-item {
    display: inline-block;
    width: 100%;
  }

}

