.sign-in-wrap-forgot-pass{
    margin: 100px auto;
    width: 270px;
    
    .wrap-email{
        display: flex;
       a{
        display: flex;
       }
        p{
            color: black;
            text-decoration: none;
            margin: 0 10px;
        }
    }

    .wrap-logo{
        display: flex;
        justify-content: center;
    }
    .wrap-input-code{
        display: flex;
        justify-content: center;
        
        .wrap-2-input-code{
            width: 400px;
            
            .header-input-code{
                
            }
            .input-code{
                display: flex;
                justify-content: center;
                input{
                    width: 250px;
                    padding: 5px;
                }
            }
        }

    }
    .wrap-btn{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        button{
            width: 150px;
            padding: 5px;
            background-color: #F7C04A;
            border: none;
        }
    }

    .txt2{
        font-size: 12px;
        color: gray;
    }
}