.wrap-body-detail{
    width: 100%;
    .content{
        margin: 30px;
        border-radius: 3px;
        border: 1px solid #EEEEEE;
        display: flex;

        .content-left{
            width: 100%;
        }

        .btn-add-all-cart{
            
            button{
                background-color: orange;
                border: 1px solid black;
                padding: 5px;
            }

            button:hover{
                cursor: pointer;
            }
        }

        .products{
            display: flex;
           
            .box-left{
                img{
                    width: 100px;
                    height: 100px;
                    margin: 10px 0;
                }
            }
    
            .box-right{
                width: 100%;
                .boxes{
                    border: 1px solid black;
                    border-radius: 3px;
                    margin: 10px 0;
                    
                    .ctn-flex{
                        display: flex;
                        justify-content: space-between;
                        padding: 0 3px;
                    }

                }
    
            }

        }

    }
}